<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application
      android:name=".App"
      android:allowBackup="false"
      android:label="Share Buddy"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:theme="@style/Theme.ShareBuddy">


    <activity
        android:name=".ui.MainActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
        android:name=".share.ShareBuddyActivity"
        android:exported="true"
        android:launchMode="singleTop"
        android:taskAffinity="">
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/*" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="image/*" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND_MULTIPLE" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="image/*" />
      </intent-filter>
    </activity>

    <receiver android:name=".reminder.ReminderReceiver" android:exported="false" />
  </application>

  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
</manifest>
